
<div class="container">
  <br>
  <div class="card text-center">
    <div class="card-body">
      <h3 class="card-title"><%= @project.title %></h3>
      <a class="nav-link text-dark" href="/projects/<%= @project.id %>/edit">Edit Project</a>
    </div>
  </div>